$border-color-hover: #666;
$border-color: #999;
$border-color-light: lighten($border-color, 25%);
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$color: #333;
$font-size: 14px;
$input-height: 32px;
$red: #F1453D;
$grey: #ddd;
$height: 32px;
$font-size-small: 12px;
$grey: #eee;
// placehoder比mixins多选择器少重复代码
.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}